.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .navbar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .navbar-image {
    width: 75px;
    height: 75px;
    margin: 0 10px;
  }
  
  .navbar-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .loggedin {
    display: flex;
    text-align: right;
    margin-right: 10px;
    margin-top: 6px;
    font-size: 20px;
  }