.App {
    display: flex;
    flex-direction: column;
  }
    
  .cardbutton-container {
    display: flex;
  }
  
  .cardbutton {
    display: flex;
    align-content: flex-start;
    justify-content: left;
    margin: 10px;
  }
  
  .card {
    margin: 40px;
  }

  .editdeletebuttons {
    display: flex;
    gap: 10px;
  }
  